In [149]:
import numpy as np
import pandas as pd

In [150]:
bMetaData = pd.read_csv("../kaggle-data/building_metadata.csv")
bMetaData = bMetaData[bMetaData.building_id.isin([0,1,2,3,4])]
bMetaData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   site_id      5 non-null      int64
 1   building_id  5 non-null      int64
 2   primary_use  5 non-null      object
 3   square_feet  5 non-null      int64
 4   year_built   5 non-null      float64
 5   floor_count  0 non-null      float64
dtypes: float64(2), int64(3), object(1)
memory usage: 280.0+ bytes

In [151]:
for row in bMetaData.itertuples():
    print(row)

Pandas(Index=0, site_id=0, building_id=0, primary_use='Education', square_feet=7432, year_built=2008.0, floor_count=nan)
Pandas(Index=1, site_id=0, building_id=1, primary_use='Education', square_feet=2720, year_built=2004.0, floor_count=nan)
Pandas(Index=2, site_id=0, building_id=2, primary_use='Education', square_feet=5376, year_built=1991.0, floor_count=nan)
Pandas(Index=3, site_id=0, building_id=3, primary_use='Education', square_feet=23685, year_built=2002.0, floor_count=nan)
Pandas(Index=4, site_id=0, building_id=4, primary_use='Education', square_feet=116607, year_built=1975.0, floor_count=nan)

In [152]:
for row in bMetaData.itertuples():
    print(row[3])

Education
Education
Education
Education
Education

In [153]:
def remove_building_meter(meters_to_drop):
    for row in meters_to_drop.itertuples():
        print(row)

In [154]:
remove_building_meter(bMetaData)

Pandas(Index=0, site_id=0, building_id=0, primary_use='Education', square_feet=7432, year_built=2008.0, floor_count=nan)
Pandas(Index=1, site_id=0, building_id=1, primary_use='Education', square_feet=2720, year_built=2004.0, floor_count=nan)
Pandas(Index=2, site_id=0, building_id=2, primary_use='Education', square_feet=5376, year_built=1991.0, floor_count=nan)
Pandas(Index=3, site_id=0, building_id=3, primary_use='Education', square_feet=23685, year_built=2002.0, floor_count=nan)
Pandas(Index=4, site_id=0, building_id=4, primary_use='Education', square_feet=116607, year_built=1975.0, floor_count=nan)

In [155]:
def remove_building_meter(file,bad_meters):
    for row in bad_meters.itertuples():
         print(row[2])
         file.drop(file[(file['building_id'] == row[1]) & (file['primary_use'] == row[2])].index,inplace=True)

In [156]:
test_remove = bMetaData[bMetaData.building_id.isin([0,1,2])][['building_id','primary_use']]
test_remove.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   building_id  3 non-null      int64
 1   primary_use  3 non-null      object
dtypes: int64(1), object(1)
memory usage: 72.0+ bytes

In [157]:
remove_building_meter(bMetaData,test_remove)

Education
Education
Education

In [158]:
bMetaData

   site_id  building_id primary_use  square_feet  year_built  floor_count
3        0            3   Education        23685      2002.0          NaN
4        0            4   Education       116607      1975.0          NaN